/*======= Body ======= */
body {
  background-color: #FDC33C;
}

/*======== Header =======*/
#header > p {
  color: #B23EF6;
  text-align: center;
  font-size: 60px;
}

/*======== Footer =======*/
#footer {
  text-align: center;
}

/*======= Clock Content =======*/
#Clocks-Container {
  /*background-color: #F7E923;*/
}

#realClock {
  height: 200px;
  width: 200px;
  margin: auto;
  text-align: center;
  font-size: 40px;
  line-height: 200px;
}

#hexClock {
  height: 200px;
  width: 200px;
  margin: auto;
  text-align: center;
  font-size: 40px;
  line-height: 200px;
}
